<div class="chat-window">
    <div class="chat-nav-container">
        <div class="chat-nav-header">
            <header class="chat-nav-header">
            </header>
        </div>
        <div class="chat-list-container">
        {{#each conversations}}
            {{#if @first}}
            <div class="conversation-preview-display curr-chat" 
                data-recipientId="{{this.recipientId}}">
            {{else}}
            <div class="conversation-preview-display" 
                data-recipientId="{{this.recipientId}}">
            {{/if}}
                <div class="recipient-initials-display-container">
                    <div class="recipient-initials-display">
                        <p id="recipient-initials-{{this.recipientId}}" class="initials"></p>
                    </div>
                </div>
                {{#each this.messages}}
                    {{#if @last}}
                    <div class="recipient-information-container">
                        <div class="recipient-name-and-time-display">
                            <p id="recipient-id-{{../recipientId}}" class="recipient-name"></p>
                            <p class="last-text-sent-time">{{getTime this.createdAt}}</p>
                        </div>
                        <p class="last-text-sent">{{this.text}}</p>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
        </div>
    </div>
    <div class="chat-main">
        <div class="chat-container">
            <div class="chat-body">
                {{#each conversations}}
                    {{#if @first}}
                        {{#each this.messages}}
                            {{#if this.isFromUser}}
                                <p class="userText">{{this.text}}</p>
                            {{else}}
                            <p class="recipientText">{{this.text}}</p>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/each}}
            </div>
            <form class="chat-typing-form" action="">
                <input class="chat-input" type="text">
                <input class="chat-submit" type="submit">
            </form>
        </div>
    </div>
    
</div>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/js/chat.js" type="text/javascript"></script>