<div class="container-fluid">
    {{!-- Houses Page navbar --}}
    <header class="houses-site-header">
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light p-0 mb-1 flex-nowrap" aria-label="Main navigation">
                {{!-- Logo --}}
                <a class="navbar-brand ml-2" href="/">
                    <img id="logo" src="../img/logo.png" width="180" alt="Pillow Logo">
                </a>
                {{!-- Toggle button --}}
                <button class="navbar-toggler mb-2 border-0" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-md"></i>
                </button>
                <div class="collapse navbar-collapse mt-5 mt-lg-2 mr-lg-5 p-3" id="navbarNav">
                    <ul class="navbar-nav ml-auto text-left">
                        {{!-- Login button --}}
                        <li class="nav-item mr-3"><a class="nav-link text-dark font-weight-bolder" href="#">Login</a>
                        </li>
                        {{!-- Sign Up button --}}
                        <li class="nav-item"><a class="btn btn-primary pl-0 pl-lg-3" href="#">Sign up</a></li>
                    </ul>
                </div>
            </nav>
            <hr class="mt-n2 mt-lg-n4">
        </div>
    </header>

    {{!-- Main body page --}}
    <div class="container-fluid border-top">
        <div class="row">

            <div class="col-md-12 col-lg-12">

                {{!-- List of Houses --}}
                <div class="row row-cols-1 row-cols-md-2">
                    {{#each propertyList.Properties}}
                    <div class="col mb-4">
                        <div class="card home-preview-card">
                            {{!-- Save home to favorite list --}}
                            <button type="button" class="btn btn-link position-absolute save-home-button"
                                data-toggle="button" aria-pressed="false">
                                <i class="far fa-heart text-white"></i>
                            </button>
                            {{!-- <img src={{imgUrl}} class="card-img-top" alt="..."> --}}
                            {{!-- Property preview details card --}}
                            <div class="card-body">
                                <ul class="list-unstyled list-inline">
                                    {{!-- House Price --}}
                                    <li class="list-inline-item">
                                        <h5 class="card-title"><span>{{price}}</span></h5>
                                    </li>
                                    {{!-- Number of Bedrooms --}}
                                    <li class="list-inline-item"><small
                                            class="text-muted"><span>{{bedrooms}}</span>ba</small></li>
                                    {{!-- Numbers of Bathrooms --}}
                                    <li class="list-inline-item border-right border-left pr-2 pl-2"><small
                                            class="text-muted"><span>{{bathrooms}}</span>bds</small></li>
                                    {{!-- House square footage --}}
                                    <li class="list-inline-item"><small
                                            class="text-muted"><span>{{sqft}}</span>sqft</small></li>
                                </ul>
                                {{!-- House Address --}}
                                <p class="card-text" id="house-address">{{address}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/houses.js"></script>