<div class="container-fluid">
    {{!-- Houses Page navbar --}}
    <header class="houses-site-header">
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light p-0 mb-1" aria-label="Main navigation">
                {{!-- Logo --}}
                <a class="navbar-brand ml-2" href="/">
                    <img id="logo" src="../img/logo.png" width="180" alt="Pillow Logo">
                </a>
                {{!-- Toggle button --}}
                <button class="navbar-toggler mb-2 border-0" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-md"></i>
                </button>
                <div class="collapse navbar-collapse mt-5 mt-lg-2 mr-lg-5 p-3" id="navbarNav">
                    <ul class="navbar-nav ml-auto text-right auth-nav-container">
                        {{!-- Login button --}}
                        <li class="nav-item mr-3 chat-button logged-in"><a class="nav-link text-dark font-weight-bolder" href="/users/chat">Chats</a></li>
                        {{!-- Sign Up button --}}
                        <li class="nav-item logout-button logged-in"><a class="btn btn-outline-primary" href="/">Logout</a></li>
                        {{!-- Login button --}}
                        <li class="nav-item mr-3 login-button logged-out"><a class="nav-link text-dark font-weight-bolder" href="/login">Login</a></li>
                        {{!-- Sign Up button --}}
                        <li class="nav-item sign-up-button logged-out"><a class="btn btn-outline-primary" href="/signup">Sign up</a></li>
                    </ul>
                </div>
            </nav>
            <hr class="mt-n2 mt-lg-n4">
            {{!-- Nav Search options --}}
            <ul class="nav nav-pills mt-n2">
                <li class="mr-2">
                    {{!-- Search address input --}}
                    <form class="small-search-input w-100">
                        <div class="form-group">
                            <input type="search" value="{{housesList.cityState}}"
                                class="input-address form-control text-truncate pl-2"
                                placeholder="Address, city or ZIP">
                        </div>
                    </form>
                </li>
                {{!-- Price Range Dropdown menu --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle border border-primary rounded py-1 mr-1" data-toggle="dropdown"
                        href="#" role="button" aria-haspopup="true" aria-expanded="false">Price</a>
                    <div class="dropdown-menu p-2" style="width: 340px">
                        <label>Price Range</label>
                        <form class="w-100 needs-validation" novalidate>
                            <div class="form-row">
                                {{!-- Minimum range price --}}
                                <div class="col-6">
                                    <input type="number" class="form-control minPrice" placeholder="Min" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid value
                                    </div>
                                </div>
                                {{!-- Maximum range price --}}
                                <div class="col-6">
                                    <input type="number" class="form-control maxPrice" placeholder="Max" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid value
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm ml-auto d-block mt-2 range-button">Done</button>
                        </form>
                    </div>
                </li>
                {{!-- Save home to favorites --}}
                <li class="ml-auto">
                    <button class="btn btn-primary btn-sm ml-auto d-block" id="get-favorites">Saved Favorite
                        Properties</button>
                </li>
            </ul>
        </div>
    </header>
    {{!-- Main body page --}}
    <div class="container-fluid border-top">
        <div class="row">
            {{!-- Google Maps --}}
            <div id="google-maps-container" class="col-md-6 d-none d-lg-block px-0 pt-2" data-target="#nav-profile">
                <div id="map"></div>
            </div>

            <div class="col-md-12 col-lg-6" id="houses-search-result">
                <div class="d-flex mt-2">
                    <p>Search results</p>
                    <div class="dropdown ml-auto mt-1">
                        {{!-- Sorting button --}}
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownSort"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort
                        </button>
                        {{!-- Sorting options --}}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSort">
                            <button class="dropdown-item" data-sort="desc" id="sortHighToLow" type="button">Price(High to Low)</button>
                            <button class="dropdown-item" data-sort="asc" id="sortLowToHigh" type="button">Price(Low to High)</button>
                        </div>
                    </div>
                </div>
                {{!-- List of Houses --}}
                <div class="row row-cols-1 row-cols-md-2" id="houses-cards">
                    {{#each housesList.housesData}}
                    <div class="col mb-4">
                        <div class="card home-preview-card shadow-sm h-100" 
                            data-lat="{{latLng.lat}}" 
                            data-lng="{{latLng.lng}}"
                            data-price="{{price}}"
                            data-bedrooms="{{bedrooms}}"
                            data-bathrooms="{{bathrooms}}"
                            data-sqft="{{sqft}}"
                            data-imgUrl="{{imgUrl}}"
                            data-address="{{address}}"
                        >
                            {{!-- Save home to favorite list --}}
                            <button type="button" class="btn btn-link position-absolute save-home-button" id={{id}}
                                data-toggle="button" aria-pressed="false">
                                <i class="far fa-heart text-white"></i>
                            </button>
                            <img id="pic-url-{{id}}" src={{imgUrl}} class="card-img-top" alt="...">
                            {{!-- Property preview details card --}}
                            <div class="card-body">
                                <ul class="list-unstyled list-inline">
                                    {{!-- House Price --}}
                                    <li class="list-inline-item">
                                        <h5 class="card-title"><span id="price-{{id}}">{{price}}</span></h5>
                                    </li>
                                    {{!-- Number of Bedrooms --}}
                                    <li class="list-inline-item"><small class="text-muted"><span
                                                id="bedrooms-{{id}}">{{bedrooms}}</span> ba</small></li>
                                    {{!-- Numbers of Bathrooms --}}
                                    <li class="list-inline-item border-right border-left pr-2 pl-2"><small
                                            class="text-muted"><span id="bathrooms-{{id}}">{{bathrooms}}</span>
                                            bds</small></li>
                                    {{!-- House square footage --}}
                                    <li class="list-inline-item"><small class="text-muted"><span
                                                id="sqft-{{id}}">{{sqft}}</span></small></li>
                                </ul>
                                {{!-- House Address --}}
                                <p class="card-text" id="house-address-{{id}}">{{address}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container off">
    <button class="exit-modal-button">X</button>
    <div class="property-images-container">
        <img class="main-property-image" src="">
        <div class="sub-property-image-list-container">
            {{!-- <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div> --}}
        </div>
    </div>
    <div class="property-information-container">
        <header class="main-house-display-header">
            <h2 class="pillow-header">Pillow</h2>
            <div class="save-share-more-container">
                <button class="header-button save-home-button">Save</button>
                <button class="header-button">Share</button>
                <button class="header-button">More</button>
            </div>
        </header>
        <hr>
        <div class="property-stats-container">
            <div class="price-bed-bath-sqr-foot-container">
                <h3 class="property-price-header"><span class="property-price"></span></h3>
                <p class="num-bed-display"><span class="num-bed"></span> ba</p>
                <p class="num-bath-display"><span class="num-bath"></span> bd</p>
                <p class="sqr-foot-display" style="padding-left: 5px"><span class="sqrft"></span></p>
            </div>
        </div>
        <h5>Address: <span class="address-modal-display"></span></h5>
        <p><strong>Est. payment:</strong><span class="monthly-price"></span>/mo</p>
        <div class="tour-contact-button-container">
            <button class="tour-and-contact-button contact-agent-button" data-realtorid="5">Contact an Agent</button>
            <button class="tour-and-contact-button take-tour-button">Take a Tour</button>
        </div>
        <hr>
        <div class="street-view-container">
            <iframe class="street-view-iframe" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/streetview?location=27.9081,-82.4974&key=AIzaSyA9RYFLOsAjw3UtphZfNyO8DHo8fCwmJn8" 
            allowfullscreen></iframe>
        </div>
        <hr>
        <h2 id="facts-and-features">Facts and features</h2>
        <div class="facts-and-features-list-container">
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="../img/yearBuilt.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Year built</h4>
                    <p>2015</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="../img/heating.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Heating</h4>
                    <p>Gas</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="../img/lotSize.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Lot size</h4>
                    <p class="sqrft"> sqft</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="../img/bathroom.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Bathrooms</h4>
                    <p class="num-bath"></p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="../img/bedroom.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Bedrooms</h4>
                    <p class="num-bed"></p>
                </div>
            </div>
        </div>
        <hr>
        <h2>Get more information</h2>
        <hr>
        <form class="more-information-form" action="">
            <input class="form-input" placeholder="Name" type="text">
            <input class="form-input" placeholder="Email" type="text">
            <input class="form-input" placeholder="Phone" type="text">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <input class="submit-button" type="submit" value="Submit">
        </form>
    </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/houses.js"></script>
<script src="/js/sort.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdpacUXCdfCmc4qgSzpk14NE3nHOcMsuY&callback=initMap" async defer></script>
